.keyBox {
  width: 83px;
  height: 93px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #f0f0f0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.15s ease;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #e6e6e6;
    transform: scale(1.025);
  }

  &:active {
    transform: scale(0.925);
  }

  &:focus,
  &:focus-within {
    outline: none;
    border: none;
  }

  .keyLetter {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-5);

    &:hover {
      background-color: var(--mantine-color-dark-4);
    }

    .keyLetter {
      color: var(--mantine-color-text);
    }
  }
}

.centerKey {
  background-color: var(--mantine-color-gold-6) !important;

  &:hover {
    background-color: var(--mantine-color-gold-5) !important;
  }

  &:active {
    background-color: hsl(51, 100%, 53%) !important;
  }

  @mixin dark {
    background-color: var(--golden) !important;

    &:hover {
      background-color: lighten(var(--golden), 0.05) !important;
    }

    &:active {
      background-color: lighten(var(--golden), 0.1) !important;
    }

    .keyLetter {
      color: var(--mantine-color-dark-8);
    }
  }
}
