.container {
  position: relative;
  min-height: 43px;
  z-index: 1;
  height: 100%;

  .wordlist {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    border: 1px solid var(--light-grey);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
    background-color: var(--background);

    &:is(.open) {
      height: 450px;
      justify-content: flex-start;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;

      .words {
        display: grid;
        height: max-content;
        width: 100%;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        margin-top: 10px;
        overflow-y: visible;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--light-grey);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--background);
        }
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .wordsFound {
        font-size: 15px;
        opacity: 0.8;
        user-select: none;
      }
    }

    .words {
      display: inline;
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      gap: 1px;
      width: 95%;
      max-width: 95%;

      .word {
        text-transform: uppercase;
        padding: 2px;
      }

      .pangram {
        & > mark {
          padding-inline: 2px;
        }
      }

      .noWords {
        opacity: 0.6;
        user-select: none;
      }
    }
  }
}
