.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  width: 100dvw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: clamp(300px, 95%, 450px);
    margin: 0 auto;
    margin-top: 16px;

    .line {
      width: 100%;
      height: 1px;
      background-color: var(--light-grey);
      margin-block: 8px;
    }

    .content {
      position: relative;

      display: flex;
      flex-direction: column;
      gap: 40px;

      .top {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 10px;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        gap: 34px;
      }
    }

    .error {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      height: 100%;

      .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .title {
          color: var(--red);
          font-size: 40px;
        }

        .subtitle {
          color: var(--dark-grey);
          font-size: 22px;
          font-weight: 500;
          line-height: 1.2;
        }

        .text {
          margin-top: 10px;
          opacity: 0.8;
        }
      }
    }
  }
}
